@import '~style/helpers';

/* HOME, LOCATION AND WEEKLY PAGES */

* {
	color: rgb(255, 255, 255);
}

.container {
	display: flex;
	flex-direction: column;
	background-blend-mode: color;
	background-image: url(https://i.imgur.com/LHt7GhY.png);
	background-size: cover;
	color: rgb(0, 0, 0);
	width: 414px;
	height: 736px;
	padding-top: 0px;
	margin: 0 auto;
}

.header {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.details {
	flex: 4;
	text-align: center;
}

.city, .locationTitle, .weeklyForecast, .formTitle {
	font-family: Sans-Serif;
	flex: 1;
	font-size: 1.7em;
	font-weight: 400;
	text-align: center;
	padding: 0 0 0.3em 0;
	color: rgb(230, 230, 230);
}

.navigation {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 70%;
	margin: auto;
	margin-bottom: 10%;
	margin-top: 2%;
}

.button {
	flex: 2;
	width: auto;
	font-size: larger;
	font-weight: bold;
	background: none;
	border: none;
	border-bottom: 2px solid #ffffff44;
	color: rgb(230, 230, 230);
	font-weight: bold;
	transition: 0.5s all;
}

.button:hover {
	border-bottom: 2px solid #ffffffea;
	transition: 0.5s all;
	scale: 1.1;
	font-weight: bold;
}

/* HOME PAGE */

.conditions {
	flex: 1;
	font-size: 2.7em;
	border-radius: 25px;
	padding: 0;
	margin: -10px;
	z-index: 999;
	position: relative;
	top: -120px;
	margin-left: -40%;
}

.conta {
	font-size: 1em;
	padding: 10px 0px 0px 0px;
	width: 350px;
	height: auto;
	margin: auto;
	margin-top: -5%;
	text-align: center;
}

.conta2 {
	display: hidden;
}

.conta3 {
	border-radius: 25px;
	padding: 0em;
	width: 315px;
	height: 290px;
	margin: auto;
}

.temperature {
	text-align: center;
	font-size: 3.6em;
	font-weight: 300;
	letter-spacing: -4px;
	width: 15rem;
	margin: 0;
	z-index: 999;
	position: relative;
	top: -110px;
	left: -35px;
}

.filled:after {
	content: "°C";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
	text-align: center;
	z-index: 999;
}

.precipitation {
	font-family: sans-serif;
	text-align: center;
	font-size: 30px;
	padding: 0px;
	margin: auto;
	margin-top: -10px;
	vertical-align: baseline;
}

.windspeed {
	font-family: sans-serif;

	text-align: center;
	font-size: 30px;
	margin-top: -10px;
	vertical-align: middle;
}

.weatherLabel {
	margin: 10px;
	margin-left: -45%;
	padding: 0;
	vertical-align: text-top;
	font-size: 18px;
	color: white;
}

.forecast {
	display: flex;
	flex-wrap: nowrap;
	margin-top: 10%;
	font-size: 1.15rem;
	justify-content: space-between;
	width: 70%;
	margin: auto;
	margin-bottom: 10%;
	margin-top: 15px;
	font-weight:625;
	color: white;
}

.forcast_image {
	margin-top: 0px;
	padding: 0px;
	font-size: 100px;
}

.forecast_text {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 87.5%;
	text-align: center;
	margin: 0;
	margin-top: -15px;
	margin-bottom: 5px;
	margin-left: 9.5%;
	font-size: 1.20rem;
	font-weight: bold;
}


.forecast_textLabel {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 87.5%;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 5px;
	margin-left: 9.5%;
}

.vl {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	border-left: 4px solid rgb(255, 255, 255);
	height: 80px;
	position: relative;
	left: 0%;
	top: -20px;
	border-radius: 10px;
}

.forecast_title {
	padding: 0;
	margin: 0;
	margin-top: 10px;
}

.weather_img {
	margin-left: -10px;
}

.Weeklybutton {
	flex: 2;
	width: auto;
	font-size: 1.15rem;
	font-weight: bold;
	border: none;
	float:right;
	margin-top: -15.5%;
	margin-right: 14.5%;
	border-bottom: 2px solid #00000044;
	background-color: rgb(135, 58, 223);
	border-radius: 0.35rem;
	font-weight: bold;
	transition: 0.5s all;
}

.Weeklybutton:hover {
	border-bottom: 2px solid #000000ea;
	background-color: rgb(233,233,233);
	transition: 0.5s all;
	color: rgb(135, 58, 223);
	font-weight: bold;
	scale: 1.1;
}

/* LOCATION AND WEEKLY PAGES */

h2 {
	text-align: center;
}

/* LOCATION PAGE */

.weeklyDesc:after {
	content: "°C";
}

.LocationDropDown {
	background-color: #9b9b9b6c;
	color:black;
	margin-bottom: 12%;
	border-radius: 1rem;
	border-bottom: 2px solid #00000044;
	margin-left: 5%;
	margin-right: 5%;
	height: 4.5rem;
}

.locationTemp:after {
	content: "°C";
}

.locationTemp {
	font-size: large;
	float: right;
	margin-right: 10%;
	margin-top:-11%;
	font-weight: bold;
}

.locationDesc {
	font-size: large;
	margin-left: 8%;
	font-weight: 550;
}
.locationImg {
	float: right;
	margin-top: -17%;
	margin-right: 35%;
}

.locationTitle {
	margin-top: -5%;
	color: rgb(230, 230, 230);
}

.dropdownList {
	width: 8rem;
	height: 1.5rem;
	border-radius: 0.4rem;
	color: black;
}

option {
	color: black;
}

/* WEEKLY PAGE */

.weeklyForecast {
	font-weight: bold;
}

.bottomOfWeek {
	margin-top: 5%;
}

.Days {
	background-color: #31313144;
	margin-bottom: 15%;
	border-radius: 1rem;
	border-bottom: 2px solid #00000044;
	margin-left: 5%;
	margin-right: 5%;
}

.FinalDay {
	background-color: #31313144;
	margin-bottom: 5%;
	border-radius: 1rem;
	border-bottom: 2px solid #00000044;
	margin-left: 5%;
	margin-right: 5%;
}

.timeDate {
	float: left;
	font-size: large;
	margin-left: 10%;
	font-weight: bold;
}

.weeklyDesc {
	font-size: large;
	float: right;
	margin-right: 8%;
}

/* FORM PAGE */

.formContainer {
	position: relative;
	top: -500%;
	margin: auto;
	width: 400px;
}

.errorMessage {
	position: relative;
	top: -600%;
	margin: auto;
	width: 400px;
}

.locationInput, .locationInputButton {
	// position: relative;
	// top: -10%;
	color:black;
	// width: 300px;
	// margin: auto;

}

.locationInputButton {
	width: 150px;
}

.locationInput {
	width: 250px;
}


.locationSubmit {
	color:black
}